In [14]:
#Monte Carlo Simulation

import pandas as pd
import numpy as np
import seaborn as sns
from numpy import nan

sns.set_style('whitegrid')

In [15]:
avg_male = 10
std_dev_male = .1
num_reps_male = 25

avg_female = 9.95
std_dev_female = .1
num_reps_female = 25

num_simulations = 100000

In [16]:
record_male = np.random.normal(avg_male, std_dev_male, num_reps_male).round(2)
record_female = np.random.normal(avg_female, std_dev_female, num_reps_female).round(2)

In [17]:
print(record_male[0:10])
print(record_female[0:10])

[  9.91  10.16   9.97  10.16   9.9    9.98   9.93   9.92   9.91   9.97]
[  9.94  10.     9.94   9.95   9.97   9.75   9.95  10.     9.8    9.9 ]

In [18]:
# Show how to create the dataframe
df_male = pd.DataFrame(index=range(num_reps_male), data={'record_male': record_male})
df_female = pd.DataFrame(index=range(num_reps_female), data={'record_female': record_female})

print(df_male.head())
print(df_female.head())

   record_male
0         9.91
1        10.16
2         9.97
3        10.16
4         9.90
   record_female
0           9.94
1          10.00
2           9.94
3           9.95
4           9.97

In [19]:
# Define a list to keep all the results from each simulation that we want to analyze
all_stats = []

# Loop through many simulations
for i in range(num_simulations):

    # Choose random inputs for
    record_male = np.random.normal(avg_male, std_dev_male, num_reps_male).round(2)
    record_female = np.random.normal(avg_female, std_dev_female, num_reps_female).round(2)

    # Build the dataframe based on the inputs and number of reps
    df_male = pd.DataFrame(index=range(num_reps_male), data={'record_male': record_male})

    df_female = pd.DataFrame(index=range(num_reps_female), data={'record_female': record_female})
    
    # We want to track over all the simulations
    all_stats.append([df_male['record_male'].mean(),
                      df_female['record_female'].mean(),
                    df_male['record_male'].max(),
                     df_female['record_female'].max(),
                     sorted(df_male['record_male'])[-2],
                      sorted(df_female['record_female'])[-2]])

In [20]:
results_df = pd.DataFrame.from_records(all_stats, columns=['record_male',
                                                           'record_female',
                                                          'best_male',
                                                          'best_female',
                                                          'runner_up_male',
                                                         'runner_up_female'])

In [21]:
results_df.describe()

,record_male,record_female,best_male,best_female,runner_up_male,runner_up_female
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,9.999974,9.949885,10.196612,10.146470,10.152281,10.102365
std,0.020095,0.020022,0.051056,0.050821,0.038479,0.038372
min,9.905600,9.870800,10.040000,9.990000,10.020000,9.970000
25%,9.986400,9.936400,10.160000,10.110000,10.130000,10.080000
50%,10.000000,9.950000,10.190000,10.140000,10.150000,10.100000
75%,10.013600,9.963200,10.230000,10.180000,10.180000,10.130000
max,10.087200,10.038800,10.540000,10.450000,10.370000,10.340000

In [22]:
results_df

,record_male,record_female,best_male,best_female,runner_up_male,runner_up_female
0,10.0004,9.9516,10.21,10.15,10.19,10.14
1,10.0704,9.9492,10.35,10.16,10.23,10.10
2,9.9780,9.9476,10.21,10.11,10.12,10.09
3,10.0264,9.9356,10.22,10.22,10.17,10.18
4,10.0264,9.9472,10.24,10.15,10.22,10.04
5,9.9908,9.9412,10.14,10.09,10.14,10.07
6,10.0028,9.9248,10.17,10.05,10.17,10.04
7,9.9900,9.9284,10.27,10.15,10.15,10.12
8,10.0012,9.9220,10.18,10.09,10.16,10.05
9,10.0284,9.9472,10.24,10.13,10.19,10.11
10,9.9896,9.9816,10.19,10.17,10.18,10.16
11,10.0004,9.9516,10.17,10.19,10.15,10.09
12,9.9852,9.9456,10.17,10.19,10.16,10.05
13,10.0208,9.9976,10.19,10.21,10.17,10.18
14,9.9808,9.9216,10.24,10.08,10.13,10.07
15,9.9376,9.9132,10.15,10.08,10.12,10.07
16,9.9904,9.9220,10.19,10.10,10.16,10.06
17,10.0060,9.9292,10.18,10.04,10.11,10.04
18,9.9956,9.9580,10.20,10.19,10.16,10.12
19,10.0080,9.9596,10.20,10.24,10.16,10.16
20,10.0324,9.9336,10.18,10.08,10.16,10.03
21,9.9912,9.9464,10.15,10.18,10.13,10.07
22,10.0128,9.9608,10.19,10.08,10.17,10.07
23,9.9844,9.9472,10.22,10.21,10.10,10.09
24,9.9820,9.9396,10.28,10.11,10.13,10.09
25,10.0300,9.9436,10.28,10.21,10.18,10.07
26,10.0132,9.9776,10.22,10.23,10.21,10.09
27,10.0004,9.9516,10.17,10.14,10.13,10.09
28,10.0336,9.9344,10.23,10.22,10.20,10.13
29,9.9960,9.9724,10.16,10.12,10.14,10.08
...,...,...,...,...,...,...
99970,9.9928,9.9796,10.15,10.20,10.12,10.17
99971,9.9732,9.9472,10.24,10.16,10.22,10.15
99972,10.0024,9.9904,10.27,10.16,10.20,10.11
99973,10.0132,9.9448,10.16,10.11,10.14,10.10
99974,10.0076,9.9544,10.23,10.20,10.19,10.17
99975,10.0192,9.9500,10.21,10.14,10.15,10.06
99976,10.0176,9.9464,10.21,10.22,10.20,10.08
99977,9.9720,9.9612,10.16,10.12,10.15,10.09
99978,9.9552,9.9584,10.08,10.17,10.05,10.15
99979,9.9912,9.9464,10.15,10.19,10.13,10.11
99980,9.9904,9.9620,10.15,10.22,10.12,10.09
99981,10.0040,9.9112,10.13,10.10,10.12,10.09
99982,10.0144,9.9316,10.20,10.16,10.17,10.11
99983,9.9992,9.9716,10.16,10.10,10.10,10.10
99984,9.9896,9.9548,10.25,10.11,10.24,10.11
99985,9.9484,9.9312,10.12,10.10,10.06,10.07
99986,9.9992,9.9476,10.14,10.15,10.13,10.13
99987,9.9796,9.9356,10.23,10.08,10.11,10.05
99988,10.0164,9.9388,10.20,10.13,10.19,10.09
99989,10.0096,9.9740,10.25,10.11,10.21,10.11
99990,10.0216,9.9780,10.16,10.08,10.14,10.05
99991,9.9452,9.9532,10.10,10.23,10.07,10.14
99992,10.0116,9.9500,10.17,10.11,10.14,10.08
99993,10.0172,9.9756,10.26,10.13,10.17,10.11
99994,9.9984,9.9096,10.26,10.08,10.11,10.04
99995,9.9840,9.9436,10.17,10.20,10.10,10.14
99996,10.0016,9.9024,10.31,10.08,10.18,10.04
99997,9.9840,9.9776,10.14,10.18,10.13,10.14
99998,9.9980,9.9736,10.25,10.14,10.13,10.11
99999,10.0144,9.9728,10.21,10.15,10.19,10.07

In [27]:
for i in range (num_simulations):
    if results_df['best_male'][i] > results_df['best_female'][i]:
        results_df['record_male_winner'][i] = results_df['best_male'][i]
    else:
        results_df['record_male_winner'][i] = nan
    
    
    if results_df['best_female'][i] > results_df['best_male'][i]:
        results_df['record_female_winner'][i] = results_df['best_female'][i]
    else:
        results_df['record_female_winner'][i] = nan
    
print (results_df['record_male_winner'], results_df['record_female_winner'])

0        10.21
1        10.35
2        10.21
3          NaN
4        10.24
5        10.14
6        10.17
7        10.27
8        10.18
9        10.24
10       10.19
11         NaN
12         NaN
13         NaN
14       10.24
15       10.15
16       10.19
17       10.18
18       10.20
19         NaN
20       10.18
21         NaN
22       10.19
23       10.22
24       10.28
25       10.28
26         NaN
27       10.17
28       10.23
29       10.16
         ...
99970      NaN
99971    10.24
99972    10.27
99973    10.16
99974    10.23
99975    10.21
99976      NaN
99977    10.16
99978      NaN
99979      NaN
99980      NaN
99981    10.13
99982    10.20
99983    10.16
99984    10.25
99985    10.12
99986      NaN
99987    10.23
99988    10.20
99989    10.25
99990    10.16
99991      NaN
99992    10.17
99993    10.26
99994    10.26
99995      NaN
99996    10.31
99997      NaN
99998    10.25
99999    10.21
Name: record_male_winner, Length: 100000, dtype: float64 0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11       10.19
12       10.19
13       10.21
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19       10.24
20         NaN
21       10.18
22         NaN
23         NaN
24         NaN
25         NaN
26       10.23
27         NaN
28         NaN
29         NaN
         ...
99970    10.20
99971      NaN
99972      NaN
99973      NaN
99974      NaN
99975      NaN
99976    10.22
99977      NaN
99978    10.17
99979    10.19
99980    10.22
99981      NaN
99982      NaN
99983      NaN
99984      NaN
99985      NaN
99986    10.15
99987      NaN
99988      NaN
99989      NaN
99990      NaN
99991    10.23
99992      NaN
99993      NaN
99994      NaN
99995    10.20
99996      NaN
99997    10.18
99998      NaN
99999      NaN
Name: record_female_winner, Length: 100000, dtype: float64

In [28]:
np.mean(results_df['record_male_winner'])-np.mean(results_df['record_female_winner'])

0.008353097532463494

This is smaller than 0.05, the original mean difference.

In [29]:
for i in range (num_simulations):
    if results_df['best_male'][i] > results_df['best_female'][i]:
        results_df['record_winner'][i] = results_df['best_male'][i]
        
        if results_df['best_female'][i] > results_df['runner_up_male'][i]:
            results_df['record_runner_up'][i] = results_df['best_female'][i]
        else:
            results_df['record_winner'][i] = nan
            results_df['record_runner_up'][i] = nan
    
    else:
        results_df['record_winner'][i] = - results_df['best_female'][i]
    
        if results_df['best_male'][i] > results_df['runner_up_female'][i]:
            results_df['record_runner_up'][i] = - results_df['best_male'][i]
        else:
            results_df['record_winner'][i] = nan
            results_df['record_runner_up'][i] = nan
    
print (results_df['record_winner'], results_df['record_runner_up'])

0          NaN
1          NaN
2          NaN
3       -10.22
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11      -10.19
12      -10.19
13      -10.21
14         NaN
15         NaN
16         NaN
17         NaN
18       10.20
19      -10.24
20         NaN
21      -10.18
22         NaN
23       10.22
24         NaN
25       10.28
26      -10.23
27       10.17
28       10.23
29         NaN
         ...
99970      NaN
99971      NaN
99972      NaN
99973      NaN
99974    10.23
99975      NaN
99976   -10.22
99977      NaN
99978      NaN
99979   -10.19
99980   -10.22
99981      NaN
99982      NaN
99983      NaN
99984      NaN
99985    10.12
99986   -10.15
99987      NaN
99988      NaN
99989      NaN
99990      NaN
99991      NaN
99992      NaN
99993      NaN
99994      NaN
99995   -10.20
99996      NaN
99997      NaN
99998    10.25
99999      NaN
Name: record_winner, Length: 100000, dtype: float64 0          NaN
1          NaN
2          NaN
3       -10.22
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11      -10.17
12      -10.17
13      -10.19
14         NaN
15         NaN
16         NaN
17         NaN
18       10.19
19      -10.20
20         NaN
21      -10.15
22         NaN
23       10.21
24         NaN
25       10.21
26      -10.22
27       10.14
28       10.22
29         NaN
         ...
99970      NaN
99971      NaN
99972      NaN
99973      NaN
99974    10.20
99975      NaN
99976   -10.21
99977      NaN
99978      NaN
99979   -10.15
99980   -10.15
99981      NaN
99982      NaN
99983      NaN
99984      NaN
99985    10.10
99986   -10.14
99987      NaN
99988      NaN
99989      NaN
99990      NaN
99991      NaN
99992      NaN
99993      NaN
99994      NaN
99995   -10.17
99996      NaN
99997      NaN
99998    10.14
99999      NaN
Name: record_runner_up, Length: 100000, dtype: float64

In [30]:
np.mean(results_df['record_winner']-results_df['record_runner_up'])

0.005261597240042201